@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-blue);
$app-accent:  mat-palette($mat-light-blue, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);


html, body { height: 100%; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #2e2e2e;
  background: white;
}

.mat-toolbar {
  color: inherit;
  background: white;
}

.mat-toolbar, * {
  h1, h2, h3 {
    font-weight: 400;
  }
}

.mat-drawer {
  border-right: none;
}
