:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  justify-content: space-between;
  flex: 0 0 auto;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

section {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  & > form {
    flex: 0 1 400px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    max-width: 100%;
    p {
      margin: 0;
    }
    .controls {
      display: flex;
      flex-direction: row-reverse;
      & > *:not(:first-child) {
        margin-right: 16px;
      }
    }
  }
}
