:host > input {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 1.2rem;
}
:host {
  display: grid;
  grid-template-columns: auto min-content;
  max-width: 500px;
  min-width: 400px;
  background: #eee;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background 0.1s ease, box-shadow 0.1s ease;
  &.active {
    background: white;
    border-color: #eee;
  }
}
