:host {
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0 12px 12px 0;
}

:host > table {
  width: 100%;
  max-width: 800px;
}

table tr:not(.header) {
  height: 60px;
  transition: background 0.1s ease;
  &:hover {
    background: #eee;
  }
}

:host > app-data-table {
  height: 100%;
  & > div > .container {
    max-width: 800px;
  }
}

:host > .table > .row {
  color: inherit;
  text-decoration: inherit;
  display: grid;
  grid-template-columns: 80px auto 80px;
  justify-items: center;
  align-items: center;
  height: 80px;
  margin: -1px 8px 0 8px;
  border: 1px solid transparent;
  &:not(:last-child) {
    border-bottom: 1px solid lightgrey
  }
  &:hover {
    border: 1px solid grey;
  }
  &:focus {
    border: 1px solid black;
  }
  outline: none;
  transition: border 0.1s ease;
  // display: flex;
}

:host > .table > .row .hours {
  & > .hours_left {
    font-size: 2rem;
  }
}
:host > .table > .row svg rect {
  stroke-width: 2px;
}
:host > .table > .row > * {
  padding: 0 12px;
}
:host > .table > .row > .svg {
  display: grid;
  grid-template-columns: auto 24px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  & > div {
    display: flex;
  }
  & > svg {
    height: 20px;
    width: 100%;
  }
}
:host > .table > .row .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  & > .dow {
    font-size: 20px;
  }
  & > .date {
    font-size: 30px;
    font-weight: 200;
  }
}

:host > .table > .divider {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-transform: uppercase;
  margin: 8px 0;

  & > .week {
    font-size: 1.2rem;
  }
}
