:host {
  height: 100%;
  display: block;
  overflow: auto;
}

:host > .table > .row {
  height: 80px;
  display: flex;
  align-items: center;
}

:host > .table > .divider {
  display: flex;
  justify-content: center;
}
