:host {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 80px auto;
}

:host > header {
  display: grid;
  align-items: center;
  grid-row: 1 / 2;
  grid-gap: 12px;
  grid-column: 1 / 3;
  grid-template-columns: 100px auto min-content;
}

:host > header .brand {
  width: 100px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

:host > header > app-search {
  // justify-self: center;
}

:host > header .links {
  padding: 0;
  list-style-type: none;

  & > li {
    padding: 8px 12px;
  }
}
:host > header > div {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

:host > .container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;
}

:host > app-side-bar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
