:host {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

:host > header {
  height: 60px;
  flex: 0 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host > header .brand {
  padding: 12px 8px;
  font-size: 20px;
}

:host > header .links {
  padding: 0;
  list-style-type: none;

  & > li {
    padding: 8px 12px;
  }
}
:host > header > div {
  display: flex;
  align-items: center;
}
:host > header .user-card {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto;
  align-items: center;
  margin: 4px;
  user-select: none;
  position: relative;
  & > .user-card_icon {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 50%;
    background: #e7e7e7;
    height: 40px;
    width: 40px;
    margin: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-radius 0.1s ease;
    & > span {
      font-size: 20px;
      color: grey;
    }
  }
  & > .user-card_name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.2rem;
    padding: 8px 20px 8px 8px;
  }
  & > .background {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    box-sizing: border-box;
    transition: height 0.1s ease, border 0.1s ease;
    border: 2px solid #e3e3e3;
    height: 40px;
  }
  &:hover {
    & > .background {
      border-color: #7c7c7c;
      height: 100%;
    }
    & > .user-card_icon {
      border-radius: 0;
    }
  }
}
:host > .container {
  position: relative;
  flex: 1 1 auto;
  max-height: calc(100% - 60px); /* ugly */
}
