:host {
  display: block;
}

:host {
  height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-rows: 80px auto;
}

:host > header {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

:host > router-outlet {
  display: none;
}

:host > header h1, h3 {
  margin: 0;
  flex-grow: 1;
}

:host > header h3 {
  margin-left: 12px;
}
