:host {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  & > form {
    flex: 0 1 400px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    max-width: 100%;
    p {
      margin: 0;
    }
    .controls {
      display: flex;
      flex-direction: row-reverse;
      & > *:not(:first-child) {
        margin-right: 16px;
      }
    }
  }
}
