:host {
  display: block;
  height: 100%;
}

mat-toolbar a {
  color: inherit;
  text-decoration: none;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  app-toolbar {
    flex: 0 0 auto;
  }
}

mat-sidenav {
  width: 268px;
}

.bottom {
  padding-bottom: 16px;
}
.bottomStick {
  position:absolute;
  bottom:0;
  width: 100%;
}
.bottomRelative {
  position:relative;
}

// yuck
.flex-between ::ng-deep div {
  justify-content: space-between;
}

.flex-spacer {
  flex: 1 1 auto;
}
