:host {
  display: block;
  overflow: auto;
  position: relative;
}

.container {
  overflow: auto;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  & > .labels {
    flex: 0 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    margin-bottom: 8px;
    position: sticky;
    background: white;
    z-index: 2;

    & > .label {
      position: absolute;
      display: flex;
      justify-content: center;
      span {
        text-align: center;
        transform: translate(-50%,0);
        font-size: 14px;
      }
      &:after {
        position: absolute;
        left: 0;
        top: 18px;
        content: '';
        height: 6px;
        border-left: 1px solid black;
      }
    }
  }

  & > .shifts {
    margin: 8px 0;
    position: relative;
    height: 100%;
    box-sizing: border-box;

    & > .shift {
      cursor: pointer;
      position: absolute;

      & > .label {
        display: flex;
        align-items: center;

        & > span {
          margin-left: 4px;
        }
      }

      & > .component {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4px;
        top: 24px;
        width: 200px;
        height: 40px;
        border-radius: 6px;
        background-color: lightblue;
      }
    }
  }
}
