:host {
  display: block;
}

section {
  display: grid;
  background: white;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 1fr;
  align-items: center;
  grid-gap: 16px;
  padding: 0 16px;
  & > h2 {
    grid-column: 1 / 3;
  }
  & > p:nth-of-type(2n + 1) {
    text-align: right;
  }
  input {
    &[type="text"], &[type="email"], &[type="number"] {
      border: none;
      background: none;
      font-size: inherit;
      padding: 0;
      outline: none;
      &:disabled {
        color: inherit;
      }
    }
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;

  h1 {
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0 16px;
    margin: 0;
    display: flex;
    align-items: center;
  }
}
