:host {
  display: block;
}

section {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    align-items: center;
    grid-gap: 16px;
    padding: 0 16px;
    & > h2 {
      grid-column: 1 / 3;
    }
    & > p:nth-of-type(2n + 1) {
      text-align: right;
    }
    input {
      &[type="text"], &[type="email"], &[type="number"] {
        border: 1px solid transparent;
        background: none;
        font-size: inherit;
        padding: 8px;
        outline: none;
        &:disabled {
          color: inherit;
        }
      }
    }
    &.editing {
      input {
        &[type="text"], &[type="email"], &[type="number"] {
          border: 1px solid lightgrey;
        }
      }
    }
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    & > *:not(:first-child) {
      margin-left: 8px;
    }
  }
}
